html, body {
        background-color: linear-gradient(45deg, #ed4264a8, #ffedbca8); 
        margin: 0;
        padding: 0;
        height: 100%;
    }
 
     *{
  padding:20px;
  margin: 0px;
  box-sizing: border-box;
}
body{
 background:linear-gradient(45deg, #ed4264a8, #ffedbca8);
  justify-content :center;
 display:flex;
align-items :center ;
 min-height:100%;

  transition: 1s; 
  transition-timing-function: ease-in; 
}
.container{
  background-color: #f5deb370;
  color: rgb(115 162 197);
  border-radius: 2px;
  padding:20px 30px;
  width: 70%;
  height: 65vh;
  text-align: center;
  box-shadow: inset;
  font-size: 20px;
  box-shadow :5px 5px #f5deb3cc;
  border:2px solid black;
 

}
#main{
  font-weight: 10vh;
}
div button{
  padding-top: 12vh;
  border-radius: 5px;
  background-color: rgb(13 70 243 / 66%);
  color: white;
  cursor: pointer;
  padding: 2px;
  justify-content: space-between;
  width: 20%;
  margin-left:40px;
}
    @media (min-width:280px) and (max-width:414px){
      .container{
        font-size: 3vh;
        height: 80%;
      }
      body{
        padding-top: 3vh;
        align-items: stretch;
      }
      #main{
      padding-top: 0px;
  }
      div button{
        margin-left:5px;
        width: 40%;
      }
      
    }
